server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods: GET, POST, PUT, DELETE, OPTIONS
            allowedHeaders: "*"
            maxAge: 3600
      routes:
        - id: ticket-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/tickets/**
        - id: ai-analyzer-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/ai/**

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: when-authorized
